 <h2 class="page-header">Authentication</h2>
 <p>Please choose your preferred authentication method</p>

 <!-- Indicates a successful or positive action -->
 <button type="button" class="btn btn-success">SMS</button>
 <br>
 <!-- Contextual button for informational alert messages -->
 <button type="button" class="btn btn-info">PUSH NOTIFICATION</button>
 <br>
 <!-- Indicates caution should be taken with this action -->
 <button type="button" class="btn btn-warning">6-DIGIT CODE</button>
 <br>
 <br>
 <button type="button" class="btn btn-primary btn-lg btn-block">Submit</button>

